<patient-app-card
[title]="PATIENT_LIST_TABLE_TITLE"
[showSaveButton]="false"
>
  <patient-app-table
    [dataSource]="dataSource"
    [visibleColumns]="visibleColumns"
    [pageSize]="PAGE_SIZE"
    (tableRowClicked)="handleTableRowClicked($event)"
  >
  </patient-app-table>
</patient-app-card>


<ng-template #showPatientTemplate>
  <patient-app-card
    [title]="SHOW_PATIENT_TITLE"
    [showSaveButton]="false"
    [showBackButton]="true"
    (backButtonClicked)="handleBackButtonClick()"
  >
    <div>Patient ID:  {{ patient.id }}</div>
    <div>Registered date:  {{ patient.registeredDate | date }}</div>
    <br>
    <patient-app-add-patient-form
      [prefillForm]="patient"
    >
    </patient-app-add-patient-form>
  </patient-app-card>
</ng-template>
