<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let column of visibleColumns">
      <ng-container *ngIf="column.type === TableColumnType.TEXT && column.visible" [matColumnDef]="column.field">
        <th mat-header-cell *matHeaderCellDef>{{column.label}}</th>
        <td mat-cell *matCellDef="let row">{{row[column.field]}}</td>
      </ng-container>

      <ng-container *ngIf="column.type === TableColumnType.DATE && column.visible" [matColumnDef]="column.field">
        <th mat-header-cell *matHeaderCellDef>{{column.label}}</th>
        <td mat-cell *matCellDef="let row">{{row[column.field] | date : 'mediumDate'}}</td>
      </ng-container>

      <ng-container *ngIf="isLinkColumn(column) && column.visible" [matColumnDef]="column.field">
        <th mat-header-cell *matHeaderCellDef>{{column.label}}</th>
        <td mat-cell *matCellDef="let row">
          <a mat-stroked-button (click)="$event.stopPropagation();" [href]="column.href(row)" target="_blank">
            {{row[column.field]}}
          </a>
        </td>
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnFields"></tr>
    <tr (click)="tableRowClicked.next(row)" mat-row *matRowDef="let row; columns: columnFields;"></tr>
  </table>
  <mat-paginator [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
</div>

