<form [formGroup]="patientFormGroup">
  <div class="patient-form">
    <div class="patient-details-form">
      <h4>Patient's details</h4>
      <br>

      <patient-app-text-input
        [errorToMessageMap]="{
          required: 'First name is required'
        }"
        [label]="AddPatientLabels.FIRST_NAME_LABEL"
        [formControlName]="firstNameControlName">
      </patient-app-text-input>
      <br>
      <patient-app-text-input
        [errorToMessageMap]="{
          required: 'Last name is required'
        }"
        [label]="AddPatientLabels.LAST_NAME_LABEL"
        [formControlName]="lastNameControlName">
      </patient-app-text-input>
      <br>
      <patient-app-date-picker
        [errorToMessageMap]="{
          required: 'Birthday is required'
        }"
        [label]="AddPatientLabels.BIRTHDAY_LABEL"
        [formControlName]="birthDateControlName"
      ></patient-app-date-picker>
      <br>
      <patient-app-text-input
        [label]="AddPatientLabels.VAT_CODE_LABEL"
        [errorToMessageMap]="{
          required: 'VAT Code is required'
        }"
        [formControlName]="VATCodeControlName">
      </patient-app-text-input>
      <br>
      <patient-app-text-input
        [errorToMessageMap]="{
          required: 'Email is required',
          'email-not-valid': 'Email is not right format'
        }"
        [label]="AddPatientLabels.EMAIL_LABEL"
        [formControlName]="emailControlName">
      </patient-app-text-input>
      <br>
      <patient-app-type-ahead-input
        [label]="AddPatientLabels.DOCTOR_LABEL"
        [errorToMessageMap]="{
          required: 'Please choose a doctor',
          'doctor-not-exist': 'Doctor with given name does not exist'
        }"
        [options]="doctorOptions"
        [optionKey]="'name'"
        [formControlName]="doctorControlName"
      >
      </patient-app-type-ahead-input>
    </div>
    <div class="patient-addresses-form">
      <h4>Patient's address information</h4>
      <br>

      <div [formArrayName]="addressesControlName" *ngFor="let control of addressControl.controls; let i = index">
        <div [formGroupName]="i+''">
          <div *ngIf="i === 0">{{ 'Home address:' }}</div>
          <div *ngIf="i === 1">{{ 'Other addresses:' }}</div>
          <span style="margin-right: 5px;" *ngIf="i > 0">{{ i }})</span>
          <mat-form-field class="address-input-control" *ngIf="i > 0" appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select [formControlName]="typeControlName">
              <mat-option *ngFor="let address of addressTypes" [value]="address">
                {{ address }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <patient-app-text-input
            class="address-input-control"
            (blur)="addInternationalNumber(control.get(phoneControlName))"
            [label]="AddPatientLabels.PHONE_LABEL"
            [errorToMessageMap]="{
              required: 'Phone is required',
              pattern: 'Phone is invalid'
            }"
            [removeSpaces]="true"
            [formControlName]="phoneControlName">
          </patient-app-text-input>
          <patient-app-text-input
            class="address-input-control"
            *ngIf="control.get(nameControlName).enabled || (!!prefillForm && prefillForm.addresses[i].name)"
            [label]="AddPatientLabels.NAME_LABEL"
            [errorToMessageMap]="{
              required: 'Name is required'
            }"
            [formControlName]="nameControlName">
          </patient-app-text-input>
          <patient-app-text-input
            class="address-input-control"
            [formControlName]="streetControlName"
            [errorToMessageMap]="{
              required: 'Street is required'
            }"
            [label]="AddPatientLabels.STREET_LABEL"
          >
          </patient-app-text-input>
          <patient-app-text-input
            class="address-input-control"
            [formControlName]="cityControlName"
            [errorToMessageMap]="{
              required: 'City is required'
            }"
            [label]="AddPatientLabels.CITY_LABEL"
          >
          </patient-app-text-input>
          <patient-app-text-input
            class="address-input-control"
            [label]="AddPatientLabels.ZIP_LABEL"
            [errorToMessageMap]="{
              required: 'Zipcode is required'
            }"
            [formControlName]="zipControlName"
          >
          </patient-app-text-input>
          <patient-app-text-input
            class="address-input-control"
            [label]="AddPatientLabels.COUNTRY_LABEL"
            [errorToMessageMap]="{
              required: 'Country is required'
            }"
            [formControlName]="countryControlName"
          >
          </patient-app-text-input>
          <button mat-mini-fab color="primary" *ngIf="!prefillForm && i === 0" (click)="addAddressForm();">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-mini-fab color="warn" *ngIf="i > 0 && !prefillForm" (click)="removeAddressForm(i)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
